AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

DATABASE_URL=

QDRANT_URL=
QDRANT_COLLECTION_RESUMES=
QDRANT_COLLECTION_VACANCIES=

VECTORIZATION_SERVICE_URL=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

AITUNNEL_API_KEY=
AITUNNEL_URL=

RUN_ID=