__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg
*.onnx

venv/
.venv/
ENV/


.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
kubeconfig*.yaml

*.log
results.json
load_results.json

.ipynb_checkpoints/
terraform/tfplan
database/

.env