# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
kubeconfig*.yaml

# Test outputs
*.log
results.json
load_results.json

# Jupyter
.ipynb_checkpoints/
terraform/tfplan
database/

.env